<app-home></app-home>


<div class="container mt-4">

    <header class="bg-dark text-white p-2 mb-2 text-center">
        <h1>Registro Rol</h1>
    </header>


    <form (ngSubmit)="submit()" [formGroup]="form">

        <div class="from-group">
            <label for="name">Nombre</label>
            <input type="text" formControlName="name" name="name" class="form-control" 
            placeholder="Ingrese nombre" [ngClass]="{'is-invalid' : submitted && f['name'].errors }" >

            <div *ngIf="submitted && f['name'].errors " class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">
                    Nombre es requerido
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-sm mt-4">Registrar</button>

    </form>
</div>
