<div class="wrapper fadeInDown">
    <div id="formContent">  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://i.postimg.cc/y8KvzHVz/cafeteria-koncta-1.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form (ngSubmit)="submit()" [formGroup]="form">
          <div class="from-group">
            <input type="text" id="login" formControlName="email" class="fadeIn second form-control" name="email" placeholder="Correo" 
                [ngClass]="{'is-invalid' : submitted && f['email'].errors}"
            >
            <div *ngIf="submitted && f['email'].errors " class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">
                    Correo es requerido
                </div>

                <div *ngIf="f['email'].errors['email']">
                    El correo electrónico debe ser un correo electrónico válido
                </div>
            </div>
          </div>
          
          <div class="from-group">
            <input type="password" formControlName="password" name="password" id="password" class="fadeIn third form-control"  
                placeholder="Contraseña" [ngClass]="{'is-invalid' : submitted && f['password'].errors}"
            >
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">
                    Contraseña es requerida
                </div>
            </div>
          </div>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
  
      <!-- Register -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/register">Quiero registrarme</a>
      </div>
  
    </div>
  </div>